# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
source/client/node_modules

# testing
source/client/coverage

# build outputs
source/client/build
source/client/dist
source/client/.next
source/api/**/gradle
source/api/**/.gradle
source/api/**/build
source/api/**/out.yml

# aws config
source/api/**/bucket-name.txt

# editor configs
source/client/.vscode
source/api/**/.idea

# misc
**/.DS_Store
**/.env
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Environment Variables
source/client/.env
source/client/.env.build
